#edit-organization .form-field input {
    width: 25em;
}
.dimension * {
    box-sizing: border-box;
}
.row {
    margin: 0 -15px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.row:after {
    display: table;
    content: " ";
    clear: both;
}
.row:before {
    display: table;
    content: " ";
}
:after, :before {
    box-sizing: border-box;
}
.col-md-1, .col-md-10 {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    min-height: 1px;
}
.col-md-1 {
    width: 8.33333333%;
}
.col-md-10 {
    width: 83.33333333%;
}
.dimension-title {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}
.dimension {
    margin-top: 25px;
}
.dimension-count {
    font-weight: bold;
    color: #777;
    font-size: 15px;
    margin-top: 10px;
    display: block;
}
.dimension-remove,
.dimension-move {
    display: block;
    text-align: center;
    color: #777;
    text-decoration: none;
    margin-top: 10px;
}
.dimension .media-label {
    width: 350px;
}
.dimension td.media-label,
.dimension td.media-youtube {
    padding: 4px 10px 4px 4px;
}
td.media-label input[type="text"], 
td.media-youtube input[type="text"] {
    font-size: 13px;
    background: transparent;
    width: 100%;
    border: 1px solid transparent;
    box-shadow: none;
}
td.media-label input[type="text"]:hover,
td.media-label input[type="text"]:active,
td.media-youtube input[type="text"]:hover, 
td.media-youtube input[type="text"]:active {
    border: 1px solid #ddd;
    background: #fff;
}
td.media-label input[type="text"]:focus,
td.media-youtube input[type="text"]:focus {
    border-color: #5b9dd9 !important;
    -webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
    box-shadow: 0 0 2px rgba(30,140,190,.8);
}
th.media-button, 
td.media-button {
    width: 74px;
    text-align: center;
}
th.media-cb,
td.media-cb {
    width: 40px;
}
.delete-media {
    color: #777;
}
.dimension-move:focus, 
.dimension-remove:focus, 
.delete-media:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.html-active,
.switch-html,
.tmce-active,
.switch-tmce {
    box-sizing: initial !important;
}