.col-md-12.pblctn_paramtr.padding_left .gat_feature_image {
    float: left;
    margin-right: 10px;
    width: 103px;
}
.col-md-12.pblctn_paramtr.padding_left .gat_feature_image .featured_image {
    float: left;
    width: 100%;
}
.leftpad
{
	padding-left: 0px !important;
}
.assmnt-left div
{
	float: none;
	margin: 14px 0;
	text-align: center;
}
.col-md-7 .get_domainlist, .col-md-9 .get_domainlist
{
	border: 1px solid #ccc;
	width: 100%;
	float: left;
	padding: 10px 0 10px 35px;
}
.get_domainlist > li
{
  font-weight: bold;
  list-style: none;
  padding: 10px 0 0 0;
  height: 45px;
}
.get_domainlist > li > h4 {
  margin: 3px 0 2px -10px;
}
.col-md-7 .get_domainlist_button
{
	width:100%;
	float:left;
}
.get_domainlist_button > a
{
	float:right;
}
.gat_genratedtoken
{
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}
.form-group
{
	width:100%;
	float:left;
}
.form-group .gatfields
{
	width: 25% !important;
}
.form-group label
{
	width: 100px;
	float: left;
	text-align: right;
	margin-right:20px;
	margin-top: 10px;
}
.form-group .gatfields
{
	float:left;
	margin-right:10px;
}
.form-group span{
	float:left;
	margin-top: 10px;

}
.form-group.gatprivacylink
{
	width:auto;
	float: right;
}
.gat_tokenfrm_brd
{
	border: 1px solid #ccc;
	display: inline-block;
	padding: 20px 10px;
	width: 100%;
	border-radius:3px;
}
.gat_tokenfrm_btn
{
	float: right;
	margin-top: 22px;
}
.gat_alreadytoken
{
	float:right;
	padding-bottom:5px;
}
.gat_domain_rating_scale
{
	width: 100%;
	float: left;
	margin: 15px 0;
	padding: 0;
	border: 1px solid #ccc;
}
.gat_domain_rating_scale li
{
	width: 25%;
	float: left;
	display:inline;
	border-left: 1px solid #ccc;
	font-size: 16px;
	padding: 10px 20px;
	height: 65px;
	overflow: hidden;
}
.gat_dimension_header {
  margin-bottom: 5px;
}
.gat_dimension_desc {
  margin:10px 0 0 0;
}
.rating_scale_description
{
	display: none;
}
.gat_scaledescription_cntnr {
    border: 1px solid #ccc;
    float: left;
    margin: -15px 0 10px;
    padding: 10px;
    text-align: justify;
    width: 100%;
    display: none;
    min-height:65px;
    margin-bottom:25px;
}
.selectedli {
    background-color: #00529f;
    color: #fff;
}
.selectedarea
{
	display: block !important;
}
.get_domainlist label {
    border: 1px solid #ccc;
    float: right;
    margin-right: 20px;
    padding: 2px 25px;
	cursor: pointer;
	height: 27px;
}
.gat_indicatorwidget {
    border: 1px solid #ccc;
    padding: 10px;
	float: left;
	width: 100%;
}
.gat_indicatorwidget > div {
    line-height: 25px;
}
.gat_indicatorwidget div:nth-child(4) {
    margin-top: 10px;
}
.gat_indicatorwidget #do-clear-analysis {
    color: inherit;
    text-decoration: none;
}
.gat_indicatorwidget .access-code .fa {
    margin-left: 5px;
    display: none;
}
.gat_indicatorwidget .access-code:hover .fa {
    display: inline-block;
}
.meter {
	height: 30px;
	position: relative;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	border:1px solid #ccc;
}
label.meter
{
	height: 25px !important;
	width: 67px !important;
}
.meter > span {
    background-color: #00529f;
    color: #fff;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
}
/*.meter > span {
  display: block;
  height: 100%;
  background-color: #ccc;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  text-align: center;
}*/
.gat_domainsbmt_btn {
    float: left;
    list-style: outside none none;
    margin: 25px 0;
    padding: 0;
    width: 100%;
}
.gat_domainsbmt_btn li {
    display: inline-block;
}
.gat_domainsbmt_btn > li {
    width: 33%;
}
.gat_twobuttons > li {
    width: 49.75%;
}
.gat_twobuttons li:nth-child(2) {
    text-align:right !important;
}
.gat_thirddomain > li {
    width:26%;
}
.gat_thirddomain li:nth-child(3) {
    width:47%;
}
.gat_domainsbmt_btn li .gat_buttton {
    float: none !important;
}
.gat_domainsbmt_btn  li:nth-child(1)
{
	text-align: left;
}
.gat_domainsbmt_btn  li:nth-child(2)
{
	text-align: center;
}
.gat_domainsbmt_btn  li:nth-child(3)
{
	text-align: right;
}
.gat_sharing_widget {
    margin-bottom: 10px;
}
.gat_sharing_widget .pblctn_scl_icn_hedng {
  text-align: left;
}
ul.gat_indicatorlights {
    background: rgba(51,51,51, .8);
    border: 1px solid #000;
    border-radius: 28px;
    float: right;
    padding: 0 5px;
    width: auto;
	height: 30px;
	margin-right: 20px;
}

.gat_indicatorlights li
{
    float: left;
    list-style: outside none none;
    width: auto;
	margin: 5px 2px;
}
.gat_indicatorlights a {
    display: block;
    height: 16px;
}
.get_indicator_btn
{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  width: 15px;
  height: 15px;
  display:inline-block;
  border: 2px solid #000;
}
.red
{
  background: #eb2a2a;
  background-image: -webkit-linear-gradient(top, #eb2a2a, #bf0a13);
  background-image: -moz-linear-gradient(top, #eb2a2a, #bf0a13);
  background-image: -ms-linear-gradient(top, #eb2a2a, #bf0a13);
  background-image: -o-linear-gradient(top, #eb2a2a, #bf0a13);
  background-image: linear-gradient(to bottom, #eb2a2a, #bf0a13);
}
.yellow {
  background: #FF0;
  background-image: -webkit-linear-gradient(top, #FF0, #fad725);
  background-image: -moz-linear-gradient(top, #FF0, #fad725);
  background-image: -ms-linear-gradient(top, #FF0, #fad725);
  background-image: -o-linear-gradient(top, #FF0, #fad725);
  background-image: linear-gradient(to bottom, #FF0, #fad725);
}
.green {
  background: #4f9e05;
  background-image: -webkit-linear-gradient(top, #4f9e05, #6cb814);
  background-image: -moz-linear-gradient(top, #4f9e05, #6cb814);
  background-image: -ms-linear-gradient(top, #4f9e05, #6cb814);
  background-image: -o-linear-gradient(top, #4f9e05, #6cb814);
  background-image: linear-gradient(to bottom, #4f9e05, #6cb814);
}
.red, .yellow, .green
{
	opacity: .5;
}
.selected_indicatorlght
{
	opacity: 1.0 !important;
}
.analysis_result .gat_player_videos
{
	float: left;
    margin-right: 15px;
    width: 51%;
}
.analysis_result .gat_reslt_listvideos
{
    border-top: 1px solid #ccc;
    float: left;
    height: 260px;
    list-style: outside none none;
    overflow-y: scroll;
    padding: 10px 0;
    width: 47%;
}
.gat_reslt_listvideos li {
    width: 100%;
    float: left;
    margin: 5px 0;
    position: relative;
    border-bottom: 1px solid #CDCDCD;
    padding: 5px 0 15px;
}
.gat_reslt_listvideos li:last-child {
    border-bottom:none;
}
.analysis_result .gat_priority_form
{
	width: 100%;
	float: left;
	margin: 5px 0 10px;
}
.gat_prioritydomaind_list {
    border:1px solid #ccc;
    float: left;
    list-style: outside none none;
    margin: 0 0 32px;
    padding: 10px 0 10px 20px;
    width: 100%;
}
.gat_prioritydomaind_list > li {
    float: left;
    padding: 6px 0;
    width: 100%;
}
.gat_prioritydomaind_list .gat_indicatorlights
{
	margin-right: 5px !important;
}
.gat_reslt_listvideos .gat_imgcntnr {
    float: left;
    width: auto;
}
.gat_reslt_listvideos .gat_desccntnr {
    width: 60%;
    float: left;
    margin-left: 10px;
    height: 40px;
    /*overflow: hidden;*/
}
.gat_reslt_listvideos .video-title {
    display: block;
    font-weight: bold;
}
.gat_reslt_listvideos .video-domain-title {
    font-size: 14px;
    font-style:italic;
}
.gat_reslt_listvideos .gat_videodetails {
    float: left;
    width: 75%;
}
.gat_videodetails .meter {
    float: right;
    width: 100px !important;
}
.gat_videodetails > span {
    float: right;
    font-size: 20px;
    margin: 0 15px;
	cursor: pointer;
}
.loadvideo
{
	position: relative;
}
.unclickable,.unclickablevideo {
	display: none;
	cursor: pointer;
	/*background: #000 none repeat scroll 0 0;*/
	opacity: 0.6;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.gat_error {
    border-left: 3px solid #00529f;
    box-shadow: 0 0px 2px;
    float: left;
    margin-bottom: 10px;
    padding: 10px 25px;
    width: 100%;
}
.get_domainlist a:first-child {
    color: #4b4e53;
    text-decoration: none;
}
.gat-video-sidebar {
    margin-top:25px;
    border: 1px solid #CDCDCD;
    padding:0 !important;
}
.gat-video-sidebar .gat_reslt_listvideos {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom:0;
    padding:10px 15px;
    list-style:none;
}
.gat_priority_form {
    padding: 10px 15px;
    border-bottom: 1px solid #CDCDCD;
}
#gat_priorityfrm label {
    float:left;
    margin-top:5px;
    margin-bottom:0;
}
#gat_priorityfrm select {
    float:right;
}
.clear { clear:both; }
/*my*/
.gat_buttton{
background: #00529f !important;
background: -moz-linear-gradient(top, #00529f 0%, #0062b2 100%, #7db9e8 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00529f), color-stop(100%,#0062b2), color-stop(100%,#7db9e8)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00529f 0%,#0062b2 100%,#7db9e8 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00529f 0%,#0062b2 100%,#7db9e8 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00529f 0%,#0062b2 100%,#7db9e8 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #00529f 0%,#0062b2 100%,#7db9e8 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00529f', endColorstr='#7db9e8',GradientType=0 ) !important; /* IE6-9 */
border:none !important;
color:#fff !important;
font-family: "Raleway-Regular";
float: right;

}
.gat_buttton:hover{
background: #7db9e8 !important; /* Old browsers */
background: -moz-linear-gradient(top, #7db9e8 0%, #0062b2 0%, #00529f 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#0062b2), color-stop(100%,#00529f)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7db9e8 0%,#0062b2 0%,#00529f 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7db9e8 0%,#0062b2 0%,#00529f 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7db9e8 0%,#0062b2 0%,#00529f 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #7db9e8 0%,#0062b2 0%,#00529f 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#00529f',GradientType=0 ) !important;
}

@media screen and (max-width: 724px) {
.form-group label {
    text-align: left;
}
.form-group .gatfields {
    width: 100% !important;
}
}
@media screen and (max-width: 750px){
.gat_domain_rating_scale li {
    font-size: 14px;
}
}
@media screen and (max-width: 554px) {
.gat_domain_rating_scale li {
	width: 100%;
}
}
@media screen and (max-width: 991px) {
.analysis_result .gat_player_videos {
    width: 100%;
}
.gat_player_videos.loadvideo iframe {
    width: 100%;
}
.analysis_result .gat_reslt_listvideos {
    height: auto;
    width: 100%;
}
}

.form-control {
    background-color: #fff !important;
}
.col-md-3.col-sm-12.col-xs-12.assmnt-left a {
    float: none;
}
.form-control-feedback {
    margin: 0 !important;
}
/*select{
   -webkit-appearance: none;
   -moz-appearance:none;
   appearance:none;
   background-image:url(images/down-arrow-sel.png);
}*/
.fa.fa-play {
    color: #00529f !important;
}
@media screen and (max-width: 1199px) {
.gat_domainsbmt_btn > li {
    width: 32%;
}
.analysis_result .gat_reslt_listvideos {
    height: auto;
    width: 100%;
}
}
@media screen and (max-width: 600px) {
.gat_domainsbmt_btn > li {
    text-align: center !important;
    width: 100%;
}
.gat_domainsbmt_btn li {
    display: block;
    margin-top: 5px;
}
.gat_scaledescription_cntnr {
    min-height:90px;
}
}
.morecontent{
	display: none;
}
.morecontent span {
    display: none;
}
.morelink {
	width: auto;
	cursor: pointer;
	margin-left: 8px;
	color: #00529f;
}
.analysis_result .gat_player_videos {
    margin-bottom: 19px;
}
@media screen and (max-width:540px) {
    .get_domainlist li h4 {
	//float: none !important;
    }
    .gat_scaledescription_cntnr {
	min-height:90px;
    }
}
@media screen and (max-width: 430px) {
    .gat_reslt_listvideos .gat_imgcntnr {
	width: 30%;
    }
    .gat_reslt_listvideos .gat_desccntnr {
	width: 60%;
    }
    .gat_reslt_listvideos .gat_videodetails {
	width: 60%;
    }
    .gat_scaledescription_cntnr {
	min-height:125px;
    }
}