[submodule "wp-content/plugins/wdt-compare-details"]
	path = wp-content/plugins/wdt-compare-details
	url = https://github.com/navnorth/wdt-compare-details.git
[submodule "wp-content/plugins/wp-content-mirror"]
	path = wp-content/plugins/wp-content-mirror
	url = https://github.com/navnorth/wp-content-mirror.git
[submodule "wp-content/plugins/wp-gap-analysis"]
	path = wp-content/plugins/wp-gap-analysis
	url = https://github.com/navnorth/wp-gap-analysis.git
[submodule "wp-content/plugins/wp-stories-posts"]
	path = wp-content/plugins/wp-stories-posts
	url = https://github.com/navnorth/wp-stories-posts.git
